<ui-layout>
  <ui-sidebar>
    Sidebar
  </ui-sidebar>
  <div class="content">
    <ui-header>
      <div class="app-header">
        <div>
          <button>
            <ng-icon name="sidebar" size="1.2rem"></ng-icon>
          </button>
        </div>
        <div class="space-x">
          <input type="text" class="search-input" placeholder="search" />
          <ui-button>Report</ui-button>
          <ui-button data-type="primary">
            Buat Tagihan
          </ui-button>
        </div>
      </div>
    </ui-header>
    <div style="padding: 20px;">
      <ui-form [options]="formOptions" (changed)="onChanged($event)"></ui-form>
    </div>
    <router-outlet />
  </div>
</ui-layout>
