.app-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  height: 3rem;
  overflow:hidden;
  padding: 0.5rem 1rem;
}
.app-header > * {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--majax-text-color);
}
.app-header > *:first-child {
  justify-content: flex-start;
}
.app-header > *:last-child {
  justify-content: flex-end;
}

.space-x > * + * {
  margin-left: 0.5rem;
}

.search-input {
  border: 1px solid var(--majax-border-color);
  border-radius: var(--majax-border-radius);
  outline: none;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  box-shadow: var(--majax-box-shadow);
}
.sidebar-header {
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.sidebar-header .logo {
  width: 1.45rem;
  height: 1.45rem;
}
.sidebar-header > h1 {
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #424242;
  flex: 1;
}
.divider {
  margin: 1rem 1rem 0 1rem;
  height: 1px;
  border-bottom: 1px solid var(--majax-border-color);
}
