<div style="padding: 20px">
  <h1 style="font-weight: bold; padding-bottom: 20px">LayoutComponent</h1>
  <div style="width: 500px">
    <ui-card title="Layout with Sidebar">
      <div class="card-content" style="width: 100%; overflow: auto">
        <pre style="font-size: 0.75rem">
          <code class="language-html">{{example1}}</code>
        </pre>
      </div>
    </ui-card>
  </div>
  <div style="width: 500px; margin-top: 20px">
    <ui-card title="Layout with Sidebar and Header" [closable]="true">
      <div class="card-content" style="width: 100%; overflow: auto">
        <pre style="font-size: 0.75rem">
          <code class="language-html">{{example2}}</code>
        </pre>
      </div>
    </ui-card>
  </div>
</div>
