:root {
  /** Colors */
  --majax-background-color: #fff;
  --majax-text-color: #242424;
  --majax-text-color-focused: #ececec;
  --majax-secondary-text-color: #6c757d;
  --majax-text-white-color: #f8f9fa;
  --majax-primary-color: #007bff;
  --majax-primary-color-focused: #005cb2;
  --majax-secondary-color: #6c757d;
  --majax-success-color: #28a745;
  --majax-info-color: #17a2b8;
  --majax-danger-color: #dc3545;
  --majax-warning-color: #ffc107;
  --majax-neutral-color: #f0f0f0;
  --majax-neutral-color-focused: #e0e0e0;
  /** Border */
  --majax-border-radius: 0.3rem;
  --majax-border-width: 1px;
  --majax-border-color: #ebebeb;
  /** Font */
  --majax-font-family: Inter, 'Noto Color Emoji', sans-serif;
  --majax-font-size: 16px;

  /** Text */
  --majax-text-size: 1rem;
  --majax-text-size-xs: 0.825rem;
  --majax-text-size-sm: 0.875rem;
  --majax-text-size-lg: 1.25rem;
  --majax-text-size-xl: 1.5rem;
  --majax-text-size-md: var(--majax-text-size);
  --majax-text-size-default: var(var(--majax-text-size))

  --majax-box-shadow: 0 0 2px 0 rgba(122, 122, 122, 0.1);

  /* Sidebar */
  --majax-sidebar-width: 15rem;
  --majax-sidebar-background-color: #f8f2f2;
  --majax-sidebar-border-color: var(--majax-border-color);
  --majax-sidebar-border-width: 1px;
  /* End of Sidebar */

  /* Footer */
  --majax-footer-height: 1.5rem;
  --majax-footer-background-color: var(--majax-background-color);
  --majax-footer-border-color: var(--majax-border-color);
  /* End of Footer */

  /* Header */
  --majax-header-height: 3rem;
  --majax-header-background-color: var(--majax-background-color);
  --majax-header-border-color: var(--majax-border-color);
  /* End of Header */
  /* Dropdown */
  --majax-dropdown-background-color: var(--majax-background-color);
  --majax-dropdown-border-color: var(--majax-border-color);

  /* Button */
  --majax-button-font-weight: 500;

  /* Avatar */
  --majax-avatar-size: 1.75rem;
  --majax-avatar-size-sm: 1.5rem;
  --majax-avatar-size-md: 1.75rem;
  --majax-avatar-size-lg: 2rem;
  --majax-avatar-size-xl: 2.5rem;


  /* Card */
  --majax-card-header-background-color: #fafafa;
  --majax-card-header-text-color: var(--majax-text-color);
}
